@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@500&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

select {
  outline: none;
  background-color: transparent;
}
* {
  scroll-behavior: smooth;
}
body {
  font-family: "roboto", "Rubik", sans-serif;
}
.sigle-day-regular {
  font-family: "Single Day", cursive;
  font-weight: 400;
  font-style: normal;
}
.home-scroll:after {
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: white;
clip-path: polygon(100% 0, 0% 100%, 100% 100%);}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}